body {
    background-color: rgb(60, 60, 60);
}

.header {
    position: fixed;
    top: 3px;
    left: 12px;
    text-decoration: none;
    color: white;
    font-family: "Consolas";
    font-size: 48px;
}

div[id="editor-wrapper"] {
    position: fixed;
    left: 25%;
    top: 10%;
    background-color: rgb(75, 75, 75);
    width: 720px;
    height: 512px;
    border-radius: 10px;
}

textarea[id="editor-input"] {
    position: fixed;
    width: 720px;
    height: 512px;
    font-family: "Consolas";
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: none;
    margin: 1px;
    padding: 1px;
    resize: none;
    outline: none;
}

span[id="chars"] {
    position: absolute;
    font-size: 16px;
    color: white;
    font-family: "Consolas";
    left: 96%;
    top: 96%;
}

span[id="words"] {
    position: absolute;
    font-size: 16px;
    color: white;
    font-family: "Consolas";
    left: 92%;
    top: 96%;
}

input[id="main"] {
    position: fixed;
    left: 25%;
    top: 1%;
    width: 715px;
    height: 62px;
    font-size: 48px;
    font-family: "Consolas";
    background-color: transparent;
    border: 0px;
    color: white;
}