body {
    background-color: rgb(60, 60, 60);
}

.header {
    text-decoration: none;
    color: white;
    font-family: "Inconsolata" !important;
    font-size: 48px;
    transition: font-size 0.25s ease;
}

div[id="editor-wrapper"] {
    background-color: rgb(75, 75, 75);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    width: 720px;
    height: 512px;
}

textarea[id="editor-input"] {
    position: fixed;
    width: 720px;
    height: 512px;
    font-family: "Consolas";
    font-size: 18px;
    color: white;
    background-color: transparent;
    border: none;
    margin: 1px;
    padding: 1px;
    resize: none;
    outline: none;
}

div.division {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inconsolata" !important;
    width: 100%;
}

div.division>span {
    font-size: 16px;
    color: wheat;
    margin-left: 10px;
    margin-right: 10px;
    transition: scale 0.25s ease;
}

input[id="main"] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    width: 715px;
    height: 62px;
    font-size: 48px;
    font-family: "Consolas";
    background-color: transparent;
    border: 0px;
    color: white;
}

.header:hover {
    font-size: 64px;
}